body{
    background-color: #e9e7da;
    margin: 0px;
    padding:0px;
   
}
@font-face{
    font-family: "Hello";
    src: url('hello-webfont.woff');
}

@font-face{
    font-family: "inter";
    src: url('internet_friends-webfont.woff');
}
@font-face{
    font-family: "noir_mediumf";
    src: url('noir_medium-webfont.woff');
}
@font-face{
    font-family: "noir_regular";
    src: url('noir_regular-webfont.woff');
}
span{
    color: #373f27;
    font-weight: bold;
    font-family: 'noir_mediumf';
    margin-left: 30px;
}
ul{
    font-family: 'noir_regular';
    color:#e9e7da;
}
#source{
    color: black;
}

h1{
    
    color: #cda34f;
    font-family: 'Hello';
    text-align: center;
    font-size: 60px;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 0px;
}
h2,h3{
    font-family: 'noir_mediumf';
    color: #231709;
}
h2{
    margin-top: 50px;
    margin-left: 100px;
    border: 5px dotted #373f27;
    margin-right: 200px;
    padding: 40px;
    
    
}
h3{
    margin-left: 30px;
}
p{
    font-family: 'noir_regular';
    margin-left: 50px;
}

a:link{
    color: #636b46;
}
a:visited{
    color: #cda34f;
}
a:hover{
    color: #373f27;
}



.flex-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.flex-container > .left  {
    width: 300px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;  
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 95px;
    padding-right: 267px;
    background-color: #cda34f80;
    
    
}
.flex-container > .center  {
    width: 300px;
    height: 100%;
    margin-right: 0px;
    padding-bottom: 173px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 0px;
    background-color:#636b467a;
}

.flex-container > .right {
    width: 300px;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 111px;
    padding-bottom: 185px;
    padding-left: 0px;
    padding-right: 20px;
    background-color:#636b467a;
}

.pic
{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 0px;
    margin-left: 70px;
    border: 5px solid #e9e7da;
}
.pic-top{
    width: 300px;
    height: 300px;
    border-radius: 100%; 
    margin-top: 0px;
    margin-left: 500px ;
    margin-bottom: 50px;
    border: 5px dotted #231709;
}

.flex-step{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}
.flex-step > .box1{
    width: 300px;
    height: 100%;
    margin-top: 50px;
    background-color: #636b46;
    margin-left: 20px;
    padding-bottom: 267px ;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
    
}
.flex-step > .box2{
    width: 300px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #cda34f;
    padding-bottom: 148px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
}
.flex-step > .box3{
    width: 300px;
    height: 100%;
    margin-top: 50px;
    background-color: #636b46;
    padding-bottom: 148px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
}
.flex-step > .box4{
    width: 300px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #cda34f;
    padding-bottom: 165px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
}
.pic-1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
.pic-2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
.pic-3{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
.pic-4{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
@media only screen and (max-width: 768px){
    h1{
     text-align: center;
    }
    .pic-top{
        width: 300px;
        height: 300px;
        border-radius: 100%; 
        margin-top: 0px;
        margin-left: 250px ;
        margin-bottom: 50px;
        border: 5px dotted #231709;
    }
    .flex-container {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        flex-wrap: wrap;
    }
    
    .flex-container > .left  {
        width: 300px;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;  
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 95px;
        padding-right: 370px;
        background-color: #cda34f80;
        
        
    }
    .flex-container > .center  {
        width: 300px;
        height: 100%;
        margin-right: 0px;
        padding-bottom: 173px;
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 0px;
        background-color:#636b467a;
    }
    
    .flex-container > .right {
        width: 300px;
        height: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 111px;
        padding-bottom: 185px;
        padding-left: 0px;
        padding-right: 68px;
        background-color:#636b467a;
    }
    .pic
{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 0px;
    margin-left: 140px;
    border: 5px solid #e9e7da;
}
.flex-step{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}
.flex-step > .box1{
    width: 300px;
    height: 100%;
    margin-top: 50px;
    background-color: #636b46;
    margin-left: 60px;
    padding-bottom: 267px ;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
    
}
.flex-step > .box2{
    width: 300px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #cda34f;
    padding-bottom: 148px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
}
.flex-step > .box3{
    width: 300px;
    height: 100%;
    margin-left: 60px;
    margin-top: 50px;
    background-color: #636b46;
    padding-bottom: 148px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
}
.flex-step > .box4{
    width: 300px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #cda34f;
    padding-bottom: 165px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
}
.pic-1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
.pic-2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
.pic-3{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
.pic-4{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
}
@media only screen and (max-width: 500px) {
    h1{
    color: #cda34f;
    font-family: 'Hello';
    font-size: 60px;
    margin-left: 90px; 
    margin-top: 0px;
    width: 500px;
    }
    .pic-top{
        width: 300px;
        height: 300px;
        border-radius: 100%; 
        margin-top: 0px;
        margin-left: 185px ;
        margin-bottom: 50px;
        border: 5px dotted #231709
    }
    .flex-container {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        flex-wrap: wrap;
    }
    
    .flex-container > .left  {
        width: 300px;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;  
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 95px;
        padding-right: 255px;
        background-color: #cda34f80;
        
        
    }
    .flex-container > .center  {
        width: 300px;
        height: 100%;
        margin-right: 0px;
        padding-bottom: 120px;
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 0px;
        background-color:#636b467a;
    }
    
    .flex-container > .right {
        width: 300px;
        height: 100%;

        margin-left: 375px;
        margin-top: -360px;
        padding-top: 100px;
        padding-bottom: 108px;
        padding-left: 0px;
        padding-right: 117px;
        background-color:#636b467a;
    }
    .pic{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 0px;
    margin-left: 90px;
    border: 5px solid #e9e7da;
    }
    .flex-step{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
    }
    .flex-step > .box1{
    width: 300px;
    height: 100%;
    margin-top: 50px;
    background-color: #636b46;
    margin-left: 10px;
    padding-bottom: 267px ;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
    
    }
    .flex-step > .box2{
    width: 300px;
    height: 100%;
    margin-left: 340px;
    margin-right: 10px;
    margin-top: -710px;
    background-color: #cda34f;
    padding-bottom: 133px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
    }
    .flex-step > .box3{
    width: 300px;
    height: 100%;
    margin-left: 10px;
    margin-top: 50px;
    background-color: #cda34f;
    padding-bottom: 267px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
    }   
    .flex-step > .box4{
    width: 300px;
    height: 100%;
    margin-left: 340px;
    margin-right: 10px;
    margin-top: -827px;
    background-color: #636b46;
    padding-bottom: 266px;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 10px;
    }
    .pic-1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
    }
    .pic-2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
    }
    .pic-3{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
    }
    .pic-4{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px double #e9e7da;
    padding: 5px;
    margin: 30px;
    margin-top: 0px;
    }
    h2,h3{
    font-family: 'noir_mediumf';
    color: #231709;
    }
    h2{
    width: 450px;
    margin-top: 50px;
    margin-left: 50px;
    border: 5px dotted #373f27;
    margin-right: 200px;
    padding: 40px;
    }
    h3{
    margin-left: 30px;
    }
    p{
    font-family: 'noir_regular';
    margin-left: 50px;
    }
    hr{
        margin-left: 300px;
        
    }
}
}