body{
   background-color: rgb(181, 218, 218);
}
fieldset{
    background-color: rgba(241, 240, 239, 0.568) ;
    border: none;
    border-radius: 20px;
}
legend{
    font-size: 70px;
    font-weight:bold ;
    color: teal;
    text-shadow: -1px 0 rgb(248, 247, 247), 0 1px rgb(247, 245, 245), 5px 0 rgb(247, 201, 195), 0 -5px rgb(247, 201, 195);
}
span{
    font-size: 20px;
    margin-left:200px;
    color: tomato;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio] {
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color:rgb(2, 88, 88);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:rgb(21, 122, 122);
}
input[type=reset]{
    width: 10%;
    background-color: tomato;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover{
    background-color: rgb(250, 126, 104);
}